/* Contenedor principal para centrar la card */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

/* Estilos de la tarjeta */
.card {
    width: 750px;
    height: 450px;
    background: transparent; /* Fondo transparente */
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    border: 10px solid #dcdcdc; /* Borde más ancho y color negro */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

/* Sección superior */
.top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

/* Círculo para el ritmo cardíaco */
.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%; /* Perfectamente redondo */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 20px solid #EC044B; /* Borde rojo */
}

/* Texto dentro del círculo */
.temp {
    font-size: 32px;
    color: black; /* Texto negro */
    font-weight: bold;
    margin: 0;
}

/* Información adicional */
.info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Estilos adicionales */
.name {
    font-size: 20px;
    font-weight: bold;
    color: #2A2A2A;
    margin: 0;
}

.status {
    font-size: 16px;
    color: #0C538C;
    font-weight: bold;
    margin: 0;
}

.hora {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
}