
<div class="container">
    <div class="components">
        
        <app-menu></app-menu>
        <div class="etiquetawarmheart">
            <h4>WarmHeart</h4>
            <p>Temperatura y ritmo cardiaco</p>
        </div>

        <div class="etiqueta">
            <p><a routerLink="/">Home</a></p>
        </div>

        <div class="etiqueta">
            <p><a routerLink="/oxigeno">Oxígeno</a></p>
        </div>

        <div class="etiqueta">
            <p><a routerLink="/heart">Ritmo cardíaco</a></p>
        </div>

        <div class="etiqueta">
            <p><a routerLink="/Temperature">Temperatura</a></p>
        </div>

        <div class="etiqueta">
            <button>Suscripcion</button>
        </div>

        <div class="etiqueta">
            <img src="/user.png" class="heart-icon">
        </div>
    </div>
</div>

<router-outlet></router-outlet>