.all {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Espaciado entre elementos */
    padding: 20px;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
}

.container {
    padding: 15px;
    text-align: center;
    min-width: 120px;
}
.main-title {
    margin-right: auto; /* Empuja los demás elementos a la derecha */
}

h1 {
    margin: 0;
    font-size: 24px;
}

p {
    margin: 5px 0;
    font-size: 18px;
}