<div class="all">
    <div class="container main-title">
        <h1>WarmHeart</h1>
        <p>Presión y ritmo cardíaco</p>
    </div>

    <div class="container">
        <p><a routerLink="/">Home</a></p>
    </div>
    <div class="container">
        <p><a routerLink="/oxigeno">Oxígeno</a></p>
    </div>
    <div class="container">
        <p><a routerLink="/heart">Ritmo cardíaco</a></p>
    </div>
    <div class="container">
        <p><a routerLink="/Temperature">Temperatura</a></p>
    </div>
    <div class="container">
        <p><a routerLink="/contacto">Contacto</a></p>
    </div>
</div>

