<div class="login-container">
    <div class="login-text">
      <div class="logo-container">
        <img src="/logo.png" alt="Logo">
        <h1>WarmHeart</h1>
      </div>
      <p>ya tienes una cuenta?<a routerLink="/login">Login</a></p>
      <p>Correo electrónico</p>
      <input type="email" placeholder="Introduce tu correo">
  
      <p>Contraseña</p>
      <input type="password" placeholder="Introduce tu contraseña">

      <p>Confirmar contraseña</p>
      <input type="password" placeholder="Introduce tu contraseña">
  
      <button>Crear cuenta</button>
      
    </div>
  
    <!-- Parte de la imagen (derecha) -->
    <div class="login-image">
      <img src="/login.avif" alt="Login Image">
    </div>
  </div>
  